<div class="product-card">
    <div class="product-card-image-container">
        <img class="product-card-image" [src]="imageUrl" alt="">
    </div>
    <div class="product-card-body">
        <span class="product-card-body-highlight">New</span>
        <h2 class="product-card-body-title">{{ product.name }}</h2>
        <form class="product-card-body-selection-form" [formGroup]="productOptionsForm">
            <app-dropdown class="product-card-body-selection-item" formControlName="weight" [options]="weightOptions" [defaultSelection]="defaultWeight"></app-dropdown>
            <app-dropdown class="product-card-body-selection-item" formControlName="roast" [options]="roastOptions" [defaultSelection]="defaultRoast"></app-dropdown>
            <app-quantity-input formControlName="quantity" [minValue]="1"></app-quantity-input>
        </form>
        <div class="product-card-body-price-container">
            <div class="product-card-body-price">€{{ product.price }}</div>
            <button [snipcartAdd]="product" [quantity]="quantity" [modifiers]="snipcartOptions" class="product-card-body-add-to-cart">Add to cart</button>
        </div>
    </div>
    <div class="product-card-details-container">
        <div class="product-card-details">
            <p *ngFor="let description of product.displayedDescription" class="product-card-details-text">{{ description }}</p>
            <p *ngFor="let detail of product.displayedDetails" class="product-card-details-text">{{ detail }}</p>
        </div>
    </div>
</div>
