<div class="product-card" [routerLink]="linkParams">
    <div class="product-card-image-container">
        <img class="product-card-image" [src]="imageUrl" alt="">
    </div>
    <div class="product-card-body">
        <span [ngClass]="{'product-card-body-highlight--visible': product.isNewProduct}" class="product-card-body-highlight product-card-body-highlight--new">New</span>
        <span [ngClass]="{'product-card-body-highlight--visible': product.isLowStock}" class="product-card-body-highlight product-card-body-highlight--low-stock">Low Stock</span>
        <div class="product-card-body-title">
            <h2>{{ product.name }}</h2>
            <h2 *ngIf="product.displayedDetails.length > 0"> — {{ product.displayedDetails }}</h2>
        </div>
        <p class="product-card-body-details">{{ product.displayedDescription.join(", ") }}</p>
        <form class="product-card-body-selection-form" [formGroup]="optionsForm">
            <app-dropdown
                class="product-card-body-selection-item"
                *ngFor="let attribute of product.selectableAttributes"
                formControlName="{{ attribute.name }}"
                [options]="attribute.optionNames">
            </app-dropdown>
            <app-quantity-input formControlName="quantity"></app-quantity-input>
        </form>
        <div class="product-card-body-price-container">
            <div class="product-card-body-price">{{ (product.priceAsNumber | adjustedProductPrice:product.attributesWithModifiers:formValue) * this.quantity | formatPrice }}</div>
            <button [snipcartAdd]="product" [quantity]="quantity" [modifiers]="product.attributes | cartModifier:formValue" class="product-card-body-add-to-cart">Add to cart</button>
        </div>
    </div>
    <div class="product-card-details-flavours" *ngIf="flavours.length > 0">
        <app-flavour-icon *ngFor="let flavour of flavours.slice(0, limitedNumberOfFlavors)" [flavour]="flavour"></app-flavour-icon>
    </div>
</div>
