<div class="product-card">
    <div class="product-card-image-container">
        <img class="product-card-image" src="https://images.unsplash.com/photo-1475855581690-80accde3ae2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
    </div>
    <div class="product-card-body">
        <span class="product-card-body-highlight">New</span>
        <h2 class="product-card-body-title">{{product.name}}</h2>
        <p *ngFor="let description of product.displayedDescription">{{description}}</p>
        <div class="product-card-body-price-container">
            <div class="product-card-body-price">{{product.price}}</div>
            <button
                class="product-card-body-add-to-cart snipcart-add-item"
                (click)="onClick()"
                [attr.data-item-id]="product.id"
                [attr.data-item-url]="'/products/' + product.productType + '/' + product.slug"
                [attr.data-item-name]="product.name"
                [attr.data-item-price]="product.price">
            Add to cart
            </button>
        </div>
    </div>
    <div class="product-card-details-container">
        <div *ngFor="let detail of product.displayedDetails" class="product-card-details">
            <i class="product-card-details-text"></i> {{detail}}
        </div>
    </div>
</div>
