<section class="backbone-container">
    <div class="sidebar-container" [ngClass]="{ 'show-sidebar': showSidebar }">
        <header class="sidebar">
            <app-sidebar (hideSidebarEvent)="onHideSidebar()"></app-sidebar>
        </header>
        <div class="sidebar-background" (click)="onHideSidebar()"></div>
    </div>
    <header class="header">
        <app-header (showSidebarEvent)="onShowSidebar()"></app-header>
    </header>
    <main class="page-container">
        <router-outlet></router-outlet>
        <app-floating-action></app-floating-action>
        <footer class="footer">
            <app-footer></app-footer>
        </footer>
    </main>
</section>
