<section class="general-info-section">
    <div class="general-info-container">
        <div class="general-info-block">
            <div class="general-info-block-image-container-left">
                <svg-icon
                    src="/assets/icons/facebook.svg"
                    [svgStyle]="{ 'width.px': 64, 'height.px': 64, 'fill': 'currentColor' }"
                    [svgClass]="'general-info-block-image'">
                </svg-icon>
            </div>
            <div class="general-info-block-content">
                <h2 class="general-info-block-content-header">Shooting Stars</h2>
                <p class="general-info-block-content-body">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
                <a class="general-info-block-content-link">Learn More
                    <svg-icon
                        src="/assets/icons/arrow_right.svg"
                        [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }"
                        [svgClass]="'general-info-block-content-link-image'">
                    </svg-icon>
                </a>
            </div>
        </div>
        <div class="general-info-block">
            <div class="general-info-block-content">
                <h2 class="general-info-block-content-header">The Catalyzer</h2>
                <p class="general-info-block-content-body">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
                <a class="general-info-block-content-link">Learn More
                    <svg-icon
                        src="/assets/icons/arrow_right.svg"
                        [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }"
                        [svgClass]="'general-info-block-content-link-image'">
                    </svg-icon>
                </a>
            </div>
            <div class="general-info-block-image-container-right">
                <svg-icon
                    src="/assets/icons/instagram.svg"
                    [svgStyle]="{ 'width.px': 64, 'height.px': 64, 'fill': 'currentColor' }"
                    [svgClass]="'general-info-block-image'">
                </svg-icon>
            </div>
        </div>
        <div class="general-info-block">
            <div class="general-info-block-image-container-left">
                <svg-icon
                    src="/assets/icons/linkedin.svg"
                    [svgStyle]="{ 'width.px': 64, 'height.px': 64, 'fill': 'currentColor' }"
                    [svgClass]="'general-info-block-image'">
                </svg-icon>
            </div>
            <div class="general-info-block-content">
                <h2 class="general-info-block-content-header">The 400 Blows</h2>
                <p class="general-info-block-content-body">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
                <a class="general-info-block-content-link">Learn More
                    <svg-icon
                        src="/assets/icons/arrow_right.svg"
                        [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }"
                        [svgClass]="'general-info-block-content-link-image'">
                    </svg-icon>
                </a>
            </div>
        </div>
        <button class="general-info-button">Button</button>
    </div>
</section>
