<section class="general-info-section">
    <div class="general-info-container">
        <div class="general-info-block">
            <div class="general-info-block-image-container-left">
                <svg-icon
                    src="/assets/icons/roaster.svg"
                    [svgStyle]="{ 'width.px': 64, 'height.px': 64, 'fill': '#3a3a3a' }"
                    [svgClass]="'general-info-block-image'">
                </svg-icon>
            </div>
            <div class="general-info-block-content">
                <h2 class="general-info-block-content-header">Roasting Days</h2>
                <h2 class="general-info-block-content-header">Mondays & Wednesdays</h2>
                <p class="general-info-block-content-body">To ensure your order is roasted on the desired date, please palce orders before 7pm the day before our roast day.</p>
            </div>
        </div>
        <div class="general-info-block">
            <div class="general-info-block-image-container-left">
                <svg-icon
                    src="/assets/icons/shipping_box.svg"
                    [svgStyle]="{ 'width.px': 64, 'height.px': 64, 'fill': 'none', 'stroke': '#3a3a3a' }"
                    [svgClass]="'general-info-block-image'">
                </svg-icon>
            </div>
            <div class="general-info-block-content">
                <h2 class="general-info-block-content-header">Shipping Days</h2>
                <h2 class="general-info-block-content-header">Tuesdays & Thursdays</h2>
                <p class="general-info-block-content-body">We ship the days following our respective productive days.</p>
            </div>
        </div>
        <div class="general-info-block">
            <div class="general-info-block-image-container-left">
                <svg-icon
                    src="/assets/icons/truck.svg"
                    [svgStyle]="{ 'width.px': 64, 'height.px': 64, 'fill': '#3a3a3a' }"
                    [svgClass]="'general-info-block-image'">
                </svg-icon>
            </div>
            <div class="general-info-block-content">
                <h2 class="general-info-block-content-header">Shipping Fees & Delays</h2>
                <h2 class="general-info-block-content-header">NL</h2>
                <p class="general-info-block-content-body">Free shipping. 1-2 business days.</p>
                <h2 class="general-info-block-content-header">EU + UK</h2>
                <p class="general-info-block-content-body">We cover 50% of shipping costs, free shipping if 30kg+. 3-5 business days with DPD/UPS.</p>
                <h2 class="general-info-block-content-header">Outside EU</h2>
                <p class="general-info-block-content-body">We cover 50% of shipping costs. 2-5 business days with FedEx.</p>
            </div>
        </div>
        <button routerLink="/products/coffee" class="general-info-button">Let's Order!</button>
    </div>
</section>
