<div class="request-access-steps-wrapper">
    <p class="request-access-steps-intro">We love develop partnerships and relationships with cafes all around the world. If you would like to stcok our coffees, you can register here and you will receive a confirmation e-mail once we approve your submission.</p>
    <div class="request-access-image-container">
        <img alt="wholesale" class="request-access-image" [src]="imageUrl">
    </div>
    <div class="request-access-steps-container">
        <div class="request-access-steps-item-container">
            <div class="request-access-steps-list-item"></div>
            <div class="request-access-steps-item-content-container">
                <h2 class="request-access-steps-item-content-title">Roasting days</h2>
                <p class="request-access-steps-item-content-text">We roast twice a week, on Monday and Wednesday.</p>
                <p class="request-access-steps-item-content-text">To ensure your order is roasted on the desired date, please palce orders before 9pm the day before our roast day.</p>
            </div>
        </div>

        <div class="request-access-steps-item-container">
            <div class="request-access-steps-list-item"></div>
            <div class="request-access-steps-item-content-container">
                <h2 class="request-access-steps-item-content-title">Shipping days</h2>
                <p class="request-access-steps-item-content-text">We ship the days following our respective productive days.</p>
            </div>
        </div>

        <div class="request-access-steps-item-container">
            <div class="request-access-steps-list-item"></div>
            <div class="request-access-steps-item-content-container">
                <h2 class="request-access-steps-item-content-title">After wholesale registration</h2>
                <p class="request-access-steps-item-content-text">You will receive an e-mail confirming your registration. You will then be able to log in, choose your coffees and check-out.</p>
            </div>
        </div>

    </div>
</div>
