<div class="request-access-steps-wrapper">
    <div class="request-access-steps-container">

        <div class="request-access-steps-item-container">
            <div class="request-access-steps-item-bar-container">
                <div class="request-access-steps-item-bar"></div>
            </div>
            <div class="request-access-steps-item-image-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="request-access-steps-item-image" height="24px" viewBox="0 0 24 24" width="24px" stroke-width="0.01" stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M16,3H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V8L16,3z M19,19H5V5h10v4h4V19z M7,17h10v-2H7V17z M12,7H7 v2h5V7z M7,13h10v-2H7V13z"/>
                </svg>
            </div>
            <div class="request-access-steps-item-content-container">
                <h2 class="request-access-steps-item-content-title">STEP 1</h2>
                <p class="request-access-steps-item-content-text">Request access by filling in this form</p>
            </div>
        </div>

        <div class="request-access-steps-item-container">
            <div class="request-access-steps-item-bar-container">
                <div class="request-access-steps-item-bar"></div>
            </div>
            <div class="request-access-steps-item-image-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="request-access-steps-item-image" height="24px" viewBox="0 0 24 24" width="24px" stroke-width="0.2" stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M20,4H4C2.9,4,2.01,4.9,2.01,6L2,18c0,1.1,0.9,2,2,2h8l0-2H4V8l8,5l8-5v5h2V6C22,4.9,21.1,4,20,4z M12,11L4,6h16L12,11z M17.34,22l-3.54-3.54l1.41-1.41l2.12,2.12l4.24-4.24L23,16.34L17.34,22z" />
                </svg>
            </div>
            <div class="request-access-steps-item-content-container">
                <h2 class="request-access-steps-item-content-title">STEP 2</h2>
                <p class="request-access-steps-item-content-text">Receive an email confirming your subscription</p>
            </div>
        </div>

        <div class="request-access-steps-item-container">
            <div class="request-access-steps-item-bar-container">
                <div class="request-access-steps-item-bar"></div>
            </div>
            <div class="request-access-steps-item-image-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="request-access-steps-item-image" height="24px" viewBox="0 0 24 24" width="24px" stroke-width="0.2" stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M11,7L9.6,8.4l2.6,2.6H2v2h10.2l-2.6,2.6L11,17l5-5L11,7z M20,19h-8v2h8c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2h-8v2h8V19z"/>
                </svg>
            </div>
            <div class="request-access-steps-item-content-container">
                <h2 class="request-access-steps-item-content-title">STEP 3</h2>
                <p class="request-access-steps-item-content-text">Log in, browse, and make your first order</p>
            </div>
        </div>

        <div class="request-access-steps-item-container">
            <div class="request-access-steps-item-image-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="request-access-steps-item-image" height="24px" viewBox="0 0 24 24" width="24px"  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                    <path d="M22 4L12 14.01l-3-3"></path>
                </svg>
            </div>
            <div class="request-access-steps-item-content-container">
                <h2 class="request-access-steps-item-content-title">FINISH</h2>
                <p class="request-access-steps-item-content-text">Enjoy additional benefits for recurring orders</p>
            </div>
        </div>

    </div>
</div>
