<div class="request-access-steps-wrapper">
    <div class="request-access-steps-container">

        <div class="request-access-steps-item-container">
            <div class="request-access-steps-item-bar-container">
                <div class="request-access-steps-item-bar"></div>
            </div>
            <div class="request-access-steps-item-image-container">
                <svg-icon
                    src="assets/svgs/feed_black_24dp.svg"
                    [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }"
                    [svgClass]="'request-access-steps-item-image'">
                </svg-icon>
            </div>
            <div class="request-access-steps-item-content-container">
                <h2 class="request-access-steps-item-content-title">STEP 1</h2>
                <p class="request-access-steps-item-content-text">Request access by filling in this form</p>
            </div>
        </div>

        <div class="request-access-steps-item-container">
            <div class="request-access-steps-item-bar-container">
                <div class="request-access-steps-item-bar"></div>
            </div>
            <div class="request-access-steps-item-image-container">
                <svg-icon
                    src="assets/svgs/mark_email_read_black_24dp.svg"
                    [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }"
                    [svgClass]="'request-access-steps-item-image'">
                </svg-icon>
            </div>
            <div class="request-access-steps-item-content-container">
                <h2 class="request-access-steps-item-content-title">STEP 2</h2>
                <p class="request-access-steps-item-content-text">Receive an email confirming your subscription</p>
            </div>
        </div>

        <div class="request-access-steps-item-container">
            <div class="request-access-steps-item-bar-container">
                <div class="request-access-steps-item-bar"></div>
            </div>
            <div class="request-access-steps-item-image-container">
                <svg-icon
                    src="assets/svgs/login_black_24dp.svg"
                    [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }"
                    [svgClass]="'request-access-steps-item-image'">
                </svg-icon>
            </div>
            <div class="request-access-steps-item-content-container">
                <h2 class="request-access-steps-item-content-title">STEP 3</h2>
                <p class="request-access-steps-item-content-text">Log in, browse, and make your first order</p>
            </div>
        </div>

        <div class="request-access-steps-item-container">
            <div class="request-access-steps-item-image-container">
                <svg-icon
                    src="assets/svgs/task_alt_black_24dp.svg"
                    [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }"
                    [svgClass]="'request-access-steps-item-image'">
                </svg-icon>
            </div>
            <div class="request-access-steps-item-content-container">
                <h2 class="request-access-steps-item-content-title">FINISH</h2>
                <p class="request-access-steps-item-content-text">Enjoy additional benefits for recurring orders</p>
            </div>
        </div>

    </div>
</div>
