<section class="product-detail-section">
    <div class="product-detail-wrapper">
        <div class="product-detail">
            <img alt="ecommerce" class="product-detail-image" [src]="imageUrl">
            <div class="product-detail-content">
                <h2 class="product-detail-content-brand">{{ product.collection }}</h2>
                <h1 class="product-detail-content-title">{{ product.name }}</h1>
                <div *ngFor="let description of product.displayedDescription">
                    <p class="product-detail-content-body">{{ description }}<p>
                </div>
                <div *ngFor="let detail of product?.displayedDetails">
                    <p class="product-detail-content-body">{{ detail }}<p>
                </div>
                <form [formGroup]="optionsForm" class="product-detail-selection-form">
                    <div class="product-detail-selection-group" *ngFor="let attribute of product.attributes">
                        {{ attribute.name }}:
                        <label class="product-detail-selection-label" *ngFor="let option of attribute.options">
                            <input formControlName="{{ attribute.name }}" type="radio" value="{{ option.optionName }}" class="product-detail-selection-input" />
                            {{ option.optionName }}
                        </label>
                    </div>
                </form>
                <div class="product-detail-content-order-wrapper">
                    <span class="product-detail-content-order-price">{{ (product.priceAsNumber | adjustedProductPrice:product.attributesWithModifiers:formValue) * this.quantity | volumeDiscount | formatPrice }}</span>
                    <button class="product-detail-content-order-button" [snipcartAdd]="product" [quantity]="quantity" [modifiers]="product.attributes | cartModifier:formValue">Add to cart</button>
                    <form [formGroup]="optionsForm" class="product-detail-content-order-quantity-form">
                        <app-quantity-input formControlName="quantity" [minValue]="1"></app-quantity-input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
