<section class="product-detail-section">
    <div class="product-detail-wrapper">
        <div class="product-detail">
            <img alt="ecommerce" class="product-detail-image" [src]="imageUrl">
            <div class="product-detail-content">
                <h1 class="product-detail-content-title">{{ productTitle }}</h1>
                <p class="product-detail-content-body">{{ product.displayedDescription.join(", ") }}</p>
                <p class="product-detail-short-description">{{ product.shortDescription }}</p>
                <div class="product-detail-flavours" *ngIf="flavours.length > 0">
                    <app-flavour-icon *ngFor="let flavour of flavours" [flavour]="flavour"></app-flavour-icon>
                </div>
                <form [formGroup]="optionsForm" class="product-detail-selection-form">
                    <div class="product-detail-selection-group" *ngFor="let attribute of product.selectableAttributes">
                        {{ attribute.name }}:
                        <div class="product-detail-selection-options">
                            <label
                                *ngFor="let option of attribute.options"
                                class="product-detail-selection-label"
                                [ngClass]="{'product-detail-selection-label--selected': optionsForm.get(attribute.name!)?.value === option.name}"
                            >
                                <input formControlName="{{ attribute.name }}" type="radio" value="{{ option.name }}" class="product-detail-selection-input" />
                                {{ option.name }}
                            </label>
                        </div>
                    </div>
                    <app-quantity-input formControlName="quantity" [minValue]="1" [isLight]="true"></app-quantity-input>
                </form>
                <div class="product-detail-content-order-wrapper">
                    <span class="product-detail-content-order-price">{{ (product.priceAsNumber | adjustedProductPrice:product.attributesWithModifiers:formValue) * this.quantity | formatPrice }}</span>
                    <button class="product-detail-content-order-button" [snipcartAdd]="product" [quantity]="quantity" [modifiers]="product.attributes | cartModifier:formValue:activePricing">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</section>
