<nav class="main-nav">
    <header class="brand">
        <img class="" src="/favicon.ico"/>
        <span class="">DAK</span>
    </header>
    <div class="nav-item-list-container" *ngFor="let parent of navigation">
        <ul class="nav-item-list">
            <app-nav-item [label]="parent.label" [link]="parent.link" [children]="parent.children" [openLabel]="openLabel" class="nav-item"></app-nav-item>
        </ul>
    </div>
    <div class="nav-spacer"></div>
    <app-toggle-widget
        [header]="'Volume Discount'"
        [uncheckedOption]="'30%'"
        [checkedOption]="'45%'"
        [toggleCallback]="onPriceTierToggle"
        [isChecked$]="priceTierActive$">
    </app-toggle-widget>
    <div class="widget-container">
        <app-wallet-widget class="widget-item"></app-wallet-widget>
        <app-cart-widget class="widget-item"></app-cart-widget>
    </div>
    <footer class="nav-footer">
        <div class="footer-item" (click)="onLogoutClicked()">
            <span>Logout</span>
        </div>
    </footer>
</nav>
