<nav class="main-nav">
    <header class="brand" routerLink="products">
        <img class="" src="/assets/icons/dak-logo.svg"/>
    </header>
    <div class="mobile-close" (click)="onMobileCloseClicked()">
        <div class="mobile-close-bar-1"></div>
        <div class="mobile-close-bar-2"></div>
    </div>
    <div class="nav-item-list-container" *ngFor="let parent of navigation">
        <ul class="nav-item-list">
            <app-nav-item [label]="parent.label" [link]="parent.link" [children]="parent.children" [openLabel]="openLabel" class="nav-item"></app-nav-item>
        </ul>
    </div>
    <div class="nav-spacer"></div>
    <app-toggle-widget
        [header]="'Volume Discount'"
        [uncheckedOption]="'30%'"
        [checkedOption]="'45%'"
        [isChecked]="priceTierActive"
        (toggle)="onPricingToggled($event)">
    </app-toggle-widget>
    <div class="widget-container">
        <app-widget class="widget-item" [content]="'€200'" (widgetClickEvent)="onWalletWidgetClicked()">
            <svg-icon
                src="/assets/icons/wallet.svg"
                [svgStyle]="{ 'width.px': 20, 'height.px': 20 }">
            </svg-icon>
        </app-widget>
        <app-widget class="widget-item" content="€{{ cartTotal }} ({{ cartWeight }} kg)" (widgetClickEvent)="onCartWidgetClicked()">
            <svg-icon
                src="/assets/icons/cart.svg"
                [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }">
            </svg-icon>
        </app-widget>
    </div>
    <footer class="nav-footer">
        <div class="footer-item" (click)="onLogoutClicked()">
            <span>Logout</span>
        </div>
    </footer>
</nav>
