<nav class="main-nav">
    <header class="brand">
        <img class="" src="/favicon.ico"/>
        <span class="">DAK</span>
    </header>
    <div class="nav-item-list-container" *ngFor="let parent of navigation">
        <ul class="nav-item-list">
            <app-nav-item [label]="parent.label" [link]="parent.link" [children]="parent.children" [openLabel]="openLabel" class="nav-item"></app-nav-item>
        </ul>
    </div>
    <div class="nav-spacer"></div>
    <footer class="nav-footer">
        <a href="">Logout</a>
    </footer>
</nav>
