.toggle-container {
    @apply hidden;
    @apply p-2;

    @apply md:block;
}

.toggle-header {
    @apply mb-3;
    @apply text-gray-700 text-center font-medium;
}

.toggle-body {
    @apply flex items-center justify-center;
    @apply w-full;
}

.toggle {
    @apply flex items-center;
    @apply cursor-pointer;
}

.toggle-input {
    @apply sr-only;
}

.toggle-option {
    @apply mx-3;
    @apply text-gray-700;
}

.toggle-slider {
    @apply relative;
}

.toggle-slider-background {
    @apply block w-10 h-6;
    @apply bg-gray-600 rounded-full;

    @apply md:w-14 md:h-8;
}

.toggle-slider-dot {
    @apply absolute left-1 top-1 w-4 h-4;
    @apply bg-white rounded-full transition;

    @apply md:w-6 md:h-6;
}

input:checked ~ .toggle-slider > .toggle-slider-dot {
    transform: translateX(100%);
}

input:checked ~ .checked-option {
    @apply font-medium;
}

:not(input:checked) ~ .un-checked-option {
    @apply font-medium;
}
