<div class="toggle-container">
    <p class="toggle-header">{{ header }}</p>
    <div class="toggle-body">
        <div class="toggle" (click)="doToggle()">
            <input type="checkbox" class="toggle-input" [checked]="isChecked">
            <div class="un-checked-option toggle-option">{{ uncheckedOption }}</div>
            <div class="toggle-slider">
                <div class="toggle-slider-background"></div>
                <div class="toggle-slider-dot"></div>
            </div>
            <div class="checked-option toggle-option">{{ checkedOption }}</div>
        </div>
    </div>
</div>
