<div class="toggle-container">
    <p class="toggle-header">{{ header }}</p>
    <div class="toggle-body">
        <div class="toggle" (click)="doToggle()">
            <input type="checkbox" class="toggle-input" [checked]="isChecked">
            <div class="toggle-slider">
                <div class="toggle-slider-background">
                    <p class="toggle-slider-background-option">{{ uncheckedOption }}</p>
                    <p class="toggle-slider-background-option">{{ checkedOption }}</p>
                </div>
                <div class="toggle-slider-dot">{{isChecked ? checkedOption : uncheckedOption}}</div>
            </div>
        </div>
    </div>
</div>
