.toggle-container {
    @apply p-2;
}

.toggle-header {
    @apply mb-3;
    @apply text-dak-main text-xs uppercase text-center font-bold;
}

.toggle-body {
    @apply flex items-center justify-center;
    @apply w-full;
}

.toggle {
    @apply flex items-center;
    @apply cursor-pointer;
}

.toggle-input {
    @apply sr-only;
}

.toggle-slider {
    @apply relative;
}

.toggle-slider-background {
    @apply flex justify-between;
    @apply w-36 h-10;
    @apply bg-dak-main rounded;
}

.toggle-slider-background-option {
    @apply w-1/2 flex items-center justify-center;
    @apply text-dak-gray;
}

.toggle-slider-dot {
    @apply absolute left-1 top-1 h-8;
    @apply flex items-center justify-center;
    @apply bg-white rounded transition;
    width: 4.25rem;
}

input:checked ~ .toggle-slider > .toggle-slider-dot {
    transform: translateX(100%);
}

input:checked ~ .checked-option {
    @apply font-medium;
}

:not(input:checked) ~ .un-checked-option {
    @apply font-medium;
}
