<li class="nav-item-container" [ngClass]="{'nav-item-force-open': label == openLabel}">
    <div class="nav-item" [routerLink]="[link]" routerLinkActive="nav-item-active">
        <span>{{ label }}</span>
        <span *ngIf="children.length > 0">
            <svg-icon
                src="assets/svgs/expand_more_black_24dp.svg"
                [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': 'currentColor' }"
                svgClass="nav-item-arrow">
            </svg-icon>
        </span>
    </div>
    <div class="nav-item-children-container">
        <ul *ngFor="let child of children">
            <app-nav-item [label]="child.label" [link]="link + child.link" [children]="child.children"></app-nav-item>
        </ul>
    </div>
</li>
