<div class="dropdown-container" (click)="onClickDropdown()">
    <div class="dropdown-selected">{{ currentlySelected }}</div>
    <div class="dropdown-arrow-container">
        <div class="dropdown-arrow-button">
            <svg-icon
                src="/assets/icons/chevron_down.svg"
                [svgStyle]="{ 'width.px': 20, 'height.px': 20, 'fill': 'currentColor' }"
                [svgClass]="'dropdown-arrow-image'"
                [ngClass]="{ 'rotate-arrow': showOptions }">
            </svg-icon>
        </div>
    </div>
    <div class="dropdown-option-list-container" *ngIf="showOptions" (mouseleave)="showOptions = false">
        <div class="dropdown-option-list-item-container" *ngFor="let option of options" (click)="onSelectOption(option, $event)">
            <div class="dropdown-option-list-item" [ngClass]="{ 'active-item': option === currentlySelected }">
                <option class="dropdown-option-list-item-content">{{ option }}</option>
            </div>
        </div>
    </div>
</div>
