<section class="registration-success-container">
    <div class="registration-success-image-container">
        <img class="registration-success-image" alt="hero" src="https://dummyimage.com/720x600" />
    </div>
    <div class="registration-success-content-container">
        <h1 class="registration-success-content-title">Thank you for your registration</h1>
        <p class="registration-success-content-text">We will review the information you have provided. You will receive a confirmation e-mail as soon as your access has been approved. In the meantime, you can view the current offering on our website:</p>
        <div class="registration-success-content-button-container">
            <a class="registration-success-content-button" href="https://www.dakcoffeeroasters.com/">Go to dakcoffeeroasters.com</a>
        </div>
    </div>
</section>
