<nav class="main-nav">
    <header class="brand">
        <img src="/favicon.ico"/>
        <span>DAK</span>
    </header>
    <div class="burger-menu-wrapper">
        <app-burger-menu [onBurgerMenuClick]="onBurgerMenuClick"></app-burger-menu>
    </div>
    <div class="nav-spacer"></div>
    <div class="widget-container">
        <app-wallet-widget></app-wallet-widget>
        <app-cart-widget></app-cart-widget>
    </div>
    <div class="sidebar-container" [ngClass]="{ 'sidebar-open': showSidebar, 'sidebar-closed': !showSidebar }">
        <div class="sidebar">
            <app-sidebar [(open)]="showSidebar"></app-sidebar>
        </div>
        <div class="sidebar-background" (click)="onClickedOffSidebar()"></div>
    </div>
</nav>
