<nav class="main-nav">
    <div class="burger-menu-wrapper">
        <app-burger-menu (clickEvent)="onBurgerMenuClick()"></app-burger-menu>
    </div>
    <div class="nav-spacer"></div>
    <div class="widget-container">
        <app-widget class="widget-item" [content]="walletAmount | formatPrice" (widgetClickEvent)="onWalletWidgetClicked()">
            <svg-icon
                src="/assets/icons/wallet.svg"
                [svgStyle]="{ 'width.px': 20, 'height.px': 20 }">
            </svg-icon>
        </app-widget>
        <app-widget class="widget-item" content="€{{ cartTotal }} ({{ cartWeight }} kg)" (widgetClickEvent)="onCartWidgetClicked()">
            <svg-icon
                src="/assets/icons/cart.svg"
                [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }">
            </svg-icon>
        </app-widget>
    </div>
</nav>
