<app-modal-backbone #modal>
    <div class="modal-container">
        <div class="modal-body">
            <div class="modal-body-content">
                <h3 class="modal-body-content-header" id="modal-title">Are you sure?</h3>
                <p class="modal-body-content-message">When this product is available, you will receive an email notification to: {{ userEmail }}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="onConfirm()" class="modal-footer-confirm">Confirm</button>
            <button type="button" (click)="onCancel()" class="modal-footer-cancel">Cancel</button>
        </div>
    </div>
</app-modal-backbone>
