<footer class="footer-container">
    <div class="footer-upper-container">
        <div class="footer-upper">
            <div class="footer-upper-nav">
                <h2 class="footer-upper-nav-title">CATEGORIES</h2>
                <nav class="footer-upper-nav-link-container">
                    <li><a class="footer-upper-nav-link">First Link</a></li>
                    <li><a class="footer-upper-nav-link">Second Link</a></li>
                    <li><a class="footer-upper-nav-link">Third Link</a></li>
                    <li><a class="footer-upper-nav-link">Fourth Link</a></li>
                </nav>
            </div>
            <div class="footer-upper-nav">
                <h2 class="footer-upper-nav-title">CATEGORIES</h2>
                <nav class="footer-upper-nav-link-container">
                    <li><a class="footer-upper-nav-link">First Link</a></li>
                    <li><a class="footer-upper-nav-link">Second Link</a></li>
                    <li><a class="footer-upper-nav-link">Third Link</a></li>
                    <li><a class="footer-upper-nav-link">Fourth Link</a></li>
                </nav>
            </div>
            <div class="footer-upper-nav">
                <h2 class="footer-upper-nav-title">CATEGORIES</h2>
                <nav class="footer-upper-nav-link-container">
                    <li><a class="footer-upper-nav-link">First Link</a></li>
                    <li><a class="footer-upper-nav-link">Second Link</a></li>
                    <li><a class="footer-upper-nav-link">Third Link</a></li>
                    <li><a class="footer-upper-nav-link">Fourth Link</a></li>
                </nav>
            </div>
            <div class="footer-upper-extras">
                <h2 class="footer-upper-extras-title">SUBSCRIBE</h2>
                <div class="footer-upper-extras-body">
                    <div class="footer-upper-extras-body-input-container">
                        <label for="footer-field" class="footer-upper-extras-body-input-title">Placeholder</label>
                        <input type="text" id="footer-field" name="footer-field" class="footer-upper-extras-body-input-field">
                    </div>
                    <button class="footer-upper-extras-body-button">Button</button>
                </div>
                <p class="footer-upper-extras-foot">Bitters chicharrones fanny pack</p>
            </div>
        </div>
    </div>
    <div class="footer-lower-container">
        <div class="footer-lower">
            <a class="footer-lower-logo">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" class="footer-lower-logo-image" viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="footer-lower-logo-text">Tailblocks</span>
            </a>
            <p class="footer-lower-text">© 2020 Tailblocks —
                <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="footer-lower-link" target="_blank">@knyttneve</a>
            </p>
            <span class="footer-lower-social-container">
                <a class="footer-lower-social-link">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="footer-lower-social-image" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="footer-lower-social-link">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="footer-lower-social-image" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="footer-lower-social-link">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="footer-lower-social-image" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="footer-lower-social-link">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="footer-lower-social-image" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </div>
</footer>
