<footer class="footer-container">
    <div class="footer-upper-container">
        <div class="footer-upper">
            <div class="footer-upper-nav">
                <nav class="footer-upper-nav-link-container">
                    <li><a class="footer-upper-nav-link" href="https://www.dakcoffeeroasters.com/about">About</a></li>
                    <li><a class="footer-upper-nav-link" href="https://www.dakcoffeeroasters.com/shop/subscription/dak-subscription?quantity=2x250g">Subscriptions</a></li>
                    <li><a class="footer-upper-nav-link" href="https://www.dakcoffeeroasters.com/terms">Terms & Conditions</a></li>
                    <li><a class="footer-upper-nav-link" href="https://www.dakcoffeeroasters.com/privacy">Privacy</a></li>
                </nav>
            </div>
            <div class="footer-upper-nav">
                <nav class="footer-upper-nav-link-container">
                    <li><a class="footer-upper-nav-link" routerLink="products/all">All Products</a></li>
                    <li><a class="footer-upper-nav-link" routerLink="products/coffee">Coffee</a></li>
                    <li><a class="footer-upper-nav-link" routerLink="products/merchandise">Merchandise</a></li>
                    <li><a class="footer-upper-nav-link" routerLink="general-information">General Information</a></li>
                    <li><a class="footer-upper-nav-link" href="https://www.dakcoffeeroasters.com/faq">FAQ</a></li>
                </nav>
            </div>
            <div class="footer-upper-nav">
                <nav class="footer-upper-nav-link-container">
                    <li><a class="footer-upper-nav-link" href="https://www.dakcoffeeroasters.com/contact">Contact</a></li>
                    <li><a class="footer-upper-nav-link" href="https://www.dakcoffeeroasters.com/shipping">Shipping</a></li>
                    <li><a class="footer-upper-nav-link" href="https://www.dakcoffeeroasters.com/subscribe">Newsletter</a></li>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer-lower-container">
        <div class="footer-lower">
            <a class="footer-lower-logo">
                <svg-icon
                    src="/assets/icons/layer.svg"
                    [svgStyle]="{ 'width.px': 64, 'height.px': 64, 'fill': 'currentColor' }"
                    [svgClass]="'footer-lower-logo-image'">
                </svg-icon>
                <span class="footer-lower-logo-text">Tailblocks</span>
            </a>
            <p class="footer-lower-text">Dak Coffee Roasters is a coffee roasting company based in Amsterdam. From farm to cup, we take great pride in celebrating quality coffee.</p>
            <span class="footer-lower-social-container">
                <a class="footer-lower-social-link">
                    <svg-icon
                        src="/assets/icons/facebook.svg"
                        [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }"
                        [svgClass]="'footer-lower-social-image'">
                    </svg-icon>
                </a>
                <a class="footer-lower-social-link">
                    <svg-icon
                        src="/assets/icons/instagram.svg"
                        [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }"
                        [svgClass]="'footer-lower-social-image'">
                    </svg-icon>
                </a>
                <a class="footer-lower-social-link">
                    <svg-icon
                        src="/assets/icons/linkedin.svg"
                        [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }"
                        [svgClass]="'footer-lower-social-image'">
                    </svg-icon>
                </a>
                <a class="footer-lower-social-link">
                    <svg-icon
                        src="/assets/icons/pinterest.svg"
                        [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'fill': 'currentColor' }"
                        [svgClass]="'footer-lower-social-image'">
                    </svg-icon>
                </a>
            </span>
        </div>
    </div>
</footer>
