<app-modal #modal>
    <div class="modal-body">
        <div class="modal-body-icon-container">
            <svg class="modal-body-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
        </div>
        <div class="modal-body-content">
            <h3 class="modal-body-content-header" id="modal-title">Order samples</h3>
            <p class="modal-body-content-message">Select blend:</p>
            <form [formGroup]="sampleSelectionForm" (ngSubmit)="onConfirm()">
                <label class="modal-body-content-selection-label" *ngFor="let option of selectionOptions">
                    <input formControlName="selection" type="radio" value="{{ option }}" class="modal-body-content-selection-input" />
                    {{ option }}
                </label>
            </form>
            <div class="modal-body-no-selection" *ngIf="submissionAttempted && sampleSelectionForm.invalid">Please select a blend before submitting, or click "Cancel".</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="onConfirm()" class="modal-footer-confirm">Order</button>
        <button type="button" (click)="onCancel()" class="modal-footer-cancel">Cancel</button>
    </div>
</app-modal>
