<div *ngIf="propertyToFilter.options.length > 0" class="filter-container">
    <div (click)="onFilterClicked()" class="filter-heading">
        <p class="filter-name">{{ propertyToFilter.displayName }}</p>
        <p *ngIf="numberOfActiveFilters > 0">({{ numberOfActiveFilters }}) active</p>
    </div>
    <div class="filter-options-container" [ngClass]="{ 'filter-options-container--open': isOpen }">
        <div
            *ngFor="let option of propertyToFilter.options"
            class="filter-options-label"
            [ngClass]="{ 'selected': isSelected(option) }"
            (click)="onFilterOptionClicked(option)">
                {{ option }}
        </div>
    </div>
</div>
