<div>
    <app-roasting-message></app-roasting-message>
    <ng-container *ngIf="product$ | withLoader | async as product">
        <div class="single-product-container">
            <ng-template [ngIf]="!product.error && !product.loading">
                <app-product-detail *ngIf="product.value as loadedProduct" [product]="loadedProduct"></app-product-detail>
                <p class="related-products-title">You may also like</p>
                <app-grid-list *ngIf="relatedProducts$ | async as relatedProducts" [itemColumnSpan]=4 [gridGap]=8>
                    <app-product-card
                        *ngFor="let relatedProduct of relatedProducts"
                        [product]="relatedProduct"
                        class="related-product-card">
                    </app-product-card>
                </app-grid-list>
            </ng-template>
            <ng-template [ngIf]="product.loading">
                <app-product-detail-loader></app-product-detail-loader>
            </ng-template>
        </div>
    </ng-container>
</div>
