<div class="featured-product-card">
    <div class="featured-product-card-image-container">
        <img class="featured-product-card-image" [src]="imageUrl" alt="">
    </div>
    <div class="featured-product-card-body">
        <div class="featured-product-card-body-header">
            <h2 class="featured-product-card-body-title">{{product.name}}</h2>
            <span class="featured-product-card-body-highlight">{{product.collection}}</span>
        </div>
        <p class="featured-product-card-body-description" *ngFor="let description of product.displayedDescription">{{description}}</p>
        <div class="featured-product-card-body-price-container">
            <div class="featured-product-card-body-price">{{product.price | volumeDiscount}}</div>
            <button class="featured-product-card-body-get-notified" (click)="onGetNotifiedClicked()">Get notified</button>
        </div>
    </div>
</div>
