<div class="login-background">
    <div class="login-card-container">
        <div class="login-card">
            <h2 class="login-card-title">Login</h2>
            <form class="login-card-inputs" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">

                <label class="login-card-email-title">
                    E-mail
                    <input class="login-card-email-input" formControlName="email" type="text"/>
                </label>
                <div *ngIf="hasErrors('email')" class="login-card-submission-error-message">
                    <p *ngIf="emailControl.errors?.required">Please enter an email address.</p>
                    <p *ngIf="emailControl.errors?.email">Please enter a valid email address.</p>
                </div>

                <label class="login-card-password-title">
                    Password
                    <input class="login-card-password-input" formControlName="password" type="password"/>
                </label>
                <div *ngIf="hasErrors('password')" class="login-card-submission-error-message">
                    <p *ngIf="passwordControl.errors?.required">Please enter a password.</p>
                    <p *ngIf="passwordControl.errors?.minlength">Password must be at least {{ minPasswordCharacters }}
                        characters.</p>
                </div>

                <button
                    class="login-card-submit-button"
                    [disabled]="isSubmissionDisabled"
                >
                    Submit
                    <svg-icon
                        *ngIf="isSubmitting"
                        src="/assets/icons/spinner.svg"
                        [svgClass]="'login-spinner'">
                    </svg-icon>
                </button>

                <div *ngIf="submissionAttempted" class="login-card-submission-error-message">
                    <p>{{ asyncErrorMessage }}</p>
                </div>

                <div class="login-card-extras">
                    <p>To request access, please get in touch with info@dakcoffeeroasters.com</p>
                </div>

            </form>
        </div>
    </div>
</div>
