/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    font-family: Montserrat;
}

// Custom styles for ngx-toastr
.toast-container .ngx-toastr {
    @apply text-sm;
    color: #3a3a3a !important;
}

.toast-container > .toast-success {
    background-image: none !important;
    padding: 15px !important;
}

.toast-success {
    background-color: #dbe5b5 !important;
}
