.quantity-input-container {
    @apply h-10 w-32;
}

.quantity-input-container input:focus {
    outline: none !important;
}

.quantity-input-container button:focus {
    outline: none !important;
}

.quantity-input-label {
    @apply w-full;
    @apply text-gray-700 text-sm font-semibold;
}

.quantity-input-button-container {
    @apply flex flex-row relative;
    @apply h-10 w-full;
    @apply rounded-lg bg-transparent mt-1;
}

.quantity-input-button {
    @apply h-full w-20;
    @apply text-2xl font-thin text-gray-600;
    @apply bg-gray-300 outline-none;
    @apply cursor-pointer;

    @apply hover:text-gray-700;
    @apply hover:bg-gray-400;
}

.quantity-input-left-button {
    @apply quantity-input-button;
    @apply rounded-l;
}

.quantity-input-right-button {
    @apply quantity-input-button;
    @apply rounded-r;
}

.quantity-input-value {
    @apply flex items-center;
    @apply w-full h-full;
    @apply outline-none bg-gray-300;
    @apply text-center font-semibold text-gray-700;

    @apply hover:text-black focus:text-black;
}

.quantity-input-value::-webkit-inner-spin-button,
.quantity-input-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
