.quantity-input-container {
    @apply text-center;
    @apply h-10 w-32;
}

.quantity-input-container input:focus {
    outline: none !important;
}

.quantity-input-container button:focus {
    outline: none !important;
}

.quantity-input-label {
    @apply w-full;
    @apply text-dak-main text-sm font-semibold;
}

.quantity-input-button-container {
    @apply flex flex-row relative;
    @apply h-10 w-full;
    @apply rounded-lg bg-transparent mt-1;
}

.quantity-input-button {
    @apply h-full w-20;
    @apply text-2xl font-thin text-dak-main;
    @apply bg-dak-gray outline-none;
    @apply cursor-pointer;

    @apply hover:text-dak-main;
    @apply hover:bg-dak-secondary;
}

.quantity-input-button--light {
    @apply h-full w-20;
    @apply text-2xl font-thin text-dak-main;
    @apply bg-dak-white outline-none;
    @apply cursor-pointer;

    @apply hover:text-dak-main;
    @apply hover:bg-dak-secondary;
}

.quantity-input-left-button {
    @apply quantity-input-button;
    @apply rounded-l;
}

.quantity-input-left-button--light {
    @apply quantity-input-button--light;
    @apply rounded-l;
}

.quantity-input-right-button {
    @apply quantity-input-button;
    @apply rounded-r;
}

.quantity-input-right-button--light {
    @apply quantity-input-button--light;
    @apply rounded-r;
}

.quantity-input-value {
    @apply flex items-center;
    @apply w-full h-full;
    @apply outline-none bg-dak-gray;
    @apply text-center font-semibold text-dak-main;

    @apply hover:text-dak-main focus:text-dak-main;
}

.quantity-input-value--light {
    @apply flex items-center;
    @apply w-full h-full;
    @apply outline-none bg-dak-white;
    @apply text-center font-semibold text-dak-main;

    @apply hover:text-dak-main focus:text-dak-main;
}

.quantity-input-value::-webkit-inner-spin-button,
.quantity-input-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
