<div class="quantity-input-container">
    <label for="custom-input-number" class="quantity-input-label">{{ label }}</label>
    <div class="quantity-input-button-container">
        <div data-action="decrement" [ngClass]="{'quantity-input-left-button--light': isLight, 'quantity-input-left-button': !isLight}" (click)="onDecrement($event)">-</div>
        <input
            name="custom-input-number"
            [ngClass]="{'quantity-input-value--light': isLight, 'quantity-input-value': !isLight}"
            type="number"
            [(ngModel)]="quantity"
            disabled
        />
        <div data-action="increment" [ngClass]="{'quantity-input-right-button--light': isLight, 'quantity-input-right-button': !isLight}" (click)="onIncrement($event)">+</div>
    </div>
</div>
