<div class="quantity-input-container">
    <label for="custom-input-number" class="quantity-input-label">Counter Input</label>
    <div class="quantity-input-button-container">
        <button data-action="decrement" class="quantity-input-left-button" (click)="onDecrement()">-</button>
        <input type="number" (change)="onUserChange($event)" class="quantity-input-value" name="custom-input-number" [(ngModel)]="_quantity" />
        <button data-action="increment" class="quantity-input-right-button" (click)="onIncrement()">+</button>
    </div>
</div>
