$maxColumnSize: 12;
$columnSmBreakMultiplier: 2;
$columnXlBreakMultiplier: 4;
$maxSpanCount: 12;
$maxGapSize: 10;

.grid-list-base {
    @apply grid justify-between;
    @apply p-4;
}

@for $size from 1 through $maxColumnSize {
    .mobile-columns-#{$size} {
        @apply grid-cols-#{$size};

        $smBreak: $columnSmBreakMultiplier * $size;
        $xlBreak: $columnXlBreakMultiplier * $size;

        @if($smBreak > $maxColumnSize) {
            @apply sm:grid-cols-12;
        } @else if ($xlBreak > $maxColumnSize) {
            @apply sm:grid-cols-#{$smBreak} xl:grid-cols-12;
        } @else {
            @apply sm:grid-cols-#{$smBreak} xl:grid-cols-#{$xlBreak};
        }
    }
}

@for $count from 1 through $maxSpanCount {
    .item-span-#{$count} {
        ::ng-deep > * {
            @apply col-span-#{$count};
        }
    }
}

@for $size from 1 through $maxGapSize {
    .grid-gap-#{$size} {
        @apply gap-#{$size};
    }
}
